<%= form_for [:admin, @railway_station] do |form| %>
  
  <%= render 'common/errors', resource: @railway_station %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :railway_station_name%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
