<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number%>
</p>

<% unless @train.route.present?%>
  <p>Route unselected</p> 
<% else %>
  <ul>
    <li><%= @train.route.name %></li>
  </ul>
<% end %>

<% if @train.vagons.empty? %>
  <p>Trains list empty</p> 
<% else %> 
  <table>
    <thead>
      <tr>
        <td>Vagon type</td>
        <td>Vagon number</td>
      </tr>
    </thead>
    <tbody>
      <% @train.vagons.each do |vagon| %>
        <tr>
          <td><%= vagon.vtype %></td>
          <td><%= vagon.vnumber %></td>
          <td><%= link_to 'show', vagon %></td>
          <td><%= link_to 'delete', vagon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to 'Add vagon', new_train_vagon_path(@train) %>
<br>
<%= link_to 'Edit', edit_train_path(@train) %> 
<br>
<%= link_to 'Back', trains_path%>
