<h1>Hello Rails</h1>
<%= link_to 'Stantion_list', admin_railway_stations_path %>
<br>
<%= link_to 'Train_list', admin_trains_path %>
<br>
<%= link_to 'Route list', admin_routes_path %>
<br>
<%= link_to 'Ticket list', tickets_path %>
<br>
<%= link_to 'User list', admin_users_path %>
