<h1>Hello Rails</h1>
<%= link_to 'Stantion_list', railway_stations_path %>
<br>
<%= link_to 'Train_list', trains_path %>
<br>
<%= link_to 'Route list', routes_path %>
<br>
<%= link_to 'Ticket list', tickets_path %>
<br>
<%= link_to 'User list', users_path %>
<br>
<%= link_to 'Vagon list', vagons_path %>
<br>
<%= link_to 'Place list', places_path %>
