<%= form_for [@train, @vagon] do |form| %>

  <%= render 'common/errors', resource: @vagon %>

  <div class="field">
    <%= form.label :vtype %>
    <%= form.text_field :vtype, id: :vagon_vtype%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
