<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @vagon.vtype%>
</p>

<% unless @vagon.train.present? %>
  <p>Train unselected</p>
<% else %>
  <ul>
    <li><%= @vagon.train.number %></li>
  </ul>
<% end %>


<%= link_to 'Edit', edit_vagon_path(@vagon) %> 
<%= link_to 'Back', trains_path %>
