<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @vagon.vtype%>
</p>

<% unless @vagon.train.present? %>
  <p>Train unselected</p>
<% else %>
  <ul>
    <li><%= @vagon.train.number %></li>
  </ul>
<% end %>

<% unless @vagon.vnumber.present? %>
  <p>Vagon havn't serial number</p>
<% else %>
  <ul>
    <li><%= @vagon.vnumber %></li>
  </ul>
<% end %>


<%= link_to 'Edit', edit_vagon_path %> 
<%= link_to 'Back', @vagon.train %>
