<%= form_for(@route) do |form| %>

  <%= render 'common/errors', resource: @route %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :route_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="field">
    <%= form.label :stations, "Railway stations first"%>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :name, {}, { multiple: true, class: 'form-control'  }%>
  </div>
<% end %>
