<%= form_for(@route) do |form| %>

  <%= render 'common/errors', resource: @route %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :route_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
