<%= form_for(@place) do |form| %>

  <%= render 'common/errors', resource: @place %>
  <div class="field">
    <%= form.label :ptype %>
    <%= form.text_field :ptype, id: :place_ptype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="field">
    <%= form.label :vagon, "Current vagons" %>
    <%= form.collection_select :vagon_id, Vagon.all, :id, :vtype %>
  </div>


<% end %>
